body {
    margin: 0;
    background-image: url(../css/images/lemur.jpg);
}




.red-box {
    background: red;
}

#most-important-section {
    border: 1px solid black;
    font-size: 50px;
}

.blue-text {
    color: blue;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    text-decoration: underline;
}

#carousel-container {
    width: 60vw;
    height: 40vw;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#carousel-list {
    margin: auto;
    width: 60vw;
    position: relative;
    height: 40vw;
    background: pink;
    display: flex;
    transition: all 1s ease-out;
}

#carousel-list img {
    width: 100%;
}

#carousel-list li {
    width: 100%;
    flex-shrink: 0;
    transition: opacity .5s ease-out;
}

#carousel-controls {
    margin: 15px auto 0;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

#carousel-list li:nth-child(1) {
    opacity: 1;
}
